<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
    <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
      <section name="AAV.SS.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false"/>
    </sectionGroup>
    <!-- For more information on Entity Framework configuration, visit http://go.microsoft.com/fwlink/?LinkID=237468 -->
    <section name="entityFramework" type="System.Data.Entity.Internal.ConfigFile.EntityFrameworkSection, EntityFramework, Version=6.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false"/>
  </configSections>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2"/>
  </startup>
  <userSettings>
    <AAV.SS.Properties.Settings>
      <setting name="DelayMin" serializeAs="String">
        <value>2</value>
      </setting>
      <setting name="TransitionSec" serializeAs="String">
        <value>15</value>
      </setting>
      <setting name="CrossFadeSec" serializeAs="String">
        <value>2</value>
      </setting>
      <setting name="ImgPath" serializeAs="String">
        <value/>
      </setting>
      <setting name="xTest" serializeAs="String">
        <value>Nothing</value>
      </setting>
      <setting name="AutoSleep" serializeAs="String">
        <value>True</value>
      </setting>
      <setting name="IsHeaterOn" serializeAs="String">
        <value>False</value>
      </setting>
    </AAV.SS.Properties.Settings>
  </userSettings>
  <entityFramework>
    <defaultConnectionFactory type="System.Data.Entity.Infrastructure.SqlConnectionFactory, EntityFramework"/>
    <providers>
      <provider invariantName="System.Data.SqlClient" type="System.Data.Entity.SqlServer.SqlProviderServices, EntityFramework.SqlServer"/>
    </providers>
  </entityFramework>

  <!--NOTE: Make sure to rename/copy to -->
  <system.diagnostics>
    <sources>
      <source name="MyCompany.MyProduct.MyComponent" switchValue="All" />
    </sources>
    <switches>
      <!--0-off, 1-error, 2-warn, 3-info, 4-verbose. -->
      <add name='CfgTraceLevelSwitch' value='1' />
      <add name="ShowErrorsOnly" value="1"/>
    </switches>
    <!--
 static TraceSwitch appSwitch = new TraceSwitch("ShowErrorsOnly", "Switch in config file");

public static void Main(string[] args)
{
    //...
    Console.WriteLine("Trace switch {0} configured as {1}", appSwitch.DisplayName, appSwitch.Level.ToString());
    if (appSwitch.TraceError)
    {
        //...
    }
}
Off	      0	  None
Error	    1	  Only error messages
Warning	  2	  Warning messages and error messages
Info	    3	  Informational messages, warning messages, and error messages
Verbose	  4	  Verbose messages, informational messages, warning messages, and error messages
-->
  </system.diagnostics>
</configuration>
