<?xml version="1.0"?>
<configuration>
    <configSections>
        <sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
            <section name="EnvironmentCanadaScrap.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false"/>
        </sectionGroup>
    </configSections>
	<appSettings>
		<!--   User application and configured property settings go here.-->
		<!--   Example: <add key="settingName" value="settingValue"/> -->
		<add key="Form1.KeyPreview" value="False"/>
		<add key="FSL.UrlWindGuru" value="https://www.windguru.cz/int/index.php?id_user=37275&amp;uid=100c98e78746a904bc035d79652f26fc&amp;GL_HTTPS=1"/>
		<add key="FSL.XmlWindGuru" value="\\apc\1\MarineMonitor\WndGruWeatherLog.xml"/>
		<add key="FSL.CsvWindGuru" value="\\apc\1\MarineMonitor\WndGruWeatherLog.csv"/>
		<add key="HP1.BaseFolder" value="C:\1\MarineMonitor\{0}\"/>
		<add key="HP1.Balloon" value="Windows XP Information Bar.wav"/>
		<add key="VM-ALEXPIGIDA.BaseFolder" value="C:\Users\apigida\SkyDrive\web.cache\MrnMntr\{0}\"/>
		<add key="VM-ALEXPIGIDA.Balloon" value="RINGIN.WAV"/>
		<add key="DELL1.BaseFolder" value="C:\Users\apigida\SkyDrive\web.cache\MarineMonitor\{0}\"/>
		<add key="DELL1.Balloon" value="Windows XP Balloon.wav"/>
		<add key="DELL2.BaseFolder" value="C:\Users\apigida\SkyDrive\web.cache\MarineMonitor\{0}\"/>
		<add key="DELL2.BaseFold~~" value="H:\MarineMonitor\{0}\"/>
		<add key="DELL2.Balloon" value="Windows XP Balloon.wav"/>
		<add key="CON-AHRAPACH.BaseFolder" value="C:\0\0\web\Scrapping\MWLogger\CON-AHRAPACH.{0}\"/>
		<add key="CON-AHRAPACH.Balloon" value="RINGIN.WAV"/>
		<add key="ClientSettingsProvider.ServiceUri" value=""/>
	</appSettings>
	<applicationSettings>
        <EnvironmentCanadaScrap.Properties.Settings>
            <setting name="LightWindMaximum" serializeAs="String">
                <value>15</value>
            </setting>
            <setting name="SiteList" serializeAs="String">
                <value>45151,smc,Lake Simcoe,1|45137,ngb,North Georgian Bay,0|45143,sgb,South Georgian Bay,1|45139,wlo,West Lake Ontario,1|45135,elo,East Lake Ontario,0|45149,slh,South Lake Huron,0|45008,msh,Mid South Huron,1|45003,nlh,North Lake Huron,1|45132,wle,West Lake Erie,0|45142,ele,East Lake Erie,0</value>
            </setting>
            <setting name="ECUrl24hourTemplate" serializeAs="String">
                <value>http://text.www.weatheroffice.gc.ca/marine/weatherConditions-24hrObsHistory_e.html?mapID=10&amp;siteID=08300&amp;stationID={0}</value>
            </setting>
        </EnvironmentCanadaScrap.Properties.Settings>
    </applicationSettings>
<startup><supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.2"/></startup></configuration>
